.THIS {
}
.THIS .slds-modal__footerContact {
    border-top: 2px solid rgb(221, 219, 218);
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    padding: .75rem 1rem;
    background-color: rgb(243, 242, 242);
    text-align: right;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.THIS.slds-spinner_container {  
  z-index: 999;
  position: fixed;   
}
.THIS  .clsDiv {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    padding: 100px 0 0 0;
}
.THIS .popup-content {
    width: 331px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 9px;
    padding: 19px;
    background: #f2f2f2;
      position: absolute;
    right: 0;
    top: 40%;
    left: 0;
    visibility: visible;
    border-color: #bce8f1;
}
.THIS .scrolBarTable{
    overflow-y: scroll;
    height: 307px;
    overflow-x: hidden;
    padding-top: 8px;
}
.THIS .slds-buttonsSize {
    margin-left: .25rem;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}
.THIS .pickSize{
    width : 50%
}
.THIS .firstNext{
    margin-top: 15px;
    margin-left: 948px;
}