<apex:component controller="MeetingRequestController" allowDML="true">
  <style type="text/css">
    .readOnly{
      background-color: inherit;
      border: 0px;
      padding: 0px;
      text-align:center;
    }
    .hideRow{
      display: none !important;
    }
    .regular-font{
      color:#000000;
      font-size:14px;
    }
    .disabled-cursor{
      cursor: not-allowed !important;
    }
      .odd-row {
          background-color: white !important;
      }
      .even-row {
          background-color: #f9f9f9 !important;
      }
  </style>
    <apex:attribute name="comp_CurrentContact" type="Contact" description="The current logged in Contact" assignTo="{!currentContact}"/>
    <apex:attribute name="comp_CurrentAccount" type="Account" description="The current logged in Account" assignTo="{!currentAccount}"/>
    <apex:attribute name="comp_CurrentEvent" type="Product2" description="The current Event" assignTo="{!currentEvent}"/>
    <apex:attribute name="comp_UserPermissions" type="UserPermissions" description="The User Permissions for the current User" assignTo="{!permissions}"/>
    <apex:attribute name="comp_CurrentPartRecord" type="Event_Account_Details__c" description="The current PR Record for the logged in User" assignTo="{!currentPartRecord}"/>
    <apex:attribute name="comp_parentForm" type="MultiComponentForm" description="This liks this component back to the parent form." assignTo="{!parentForm}"/>
  <apex:attribute name="comp_CommSettings" type="Community_Settings__c" description="The Community Settings from the Event Registration" assignTo="{!commSettings}" />

                        <!-- mmeting requests section -->
                       <apex:outputPanel layout="block" styleClass="row" id="meeting-requests-section">
                          <apex:pageBlock id="MeetingRequests">
                            <div class="panel panel-default">
                              <div class="panel-heading" style="cursor:pointer" data-toggle="collapse" data-parent="#accordion-part-2" href="#section-meeting-requests" aria-expanded="false" aria-controls="section-meeting-requests">
                                <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion-part-2" href="#section-meeting-requests" aria-expanded="false" aria-controls="section-meeting-requests"><span class="cpmg-icon icon_calendar_white"></span>{!IF(permissions.isSupplier,"Boardroom Ranking and One-on-One Meeting Requests","One-on-One Meeting Requests")}</h3>
                                <a data-toggle="collapse" data-parent="#accordion-part-2" href="#section-meeting-requests" aria-expanded="false" aria-controls="section-meeting-requests">
                                </a>
                              </div>
                              <div id="section-meeting-requests" class="collapse panel-collapse">

                                <apex:variable var="supplierWrapper" value="supplierWrapper" rendered="{!permissions.isSupplier}">
                                    <span class="info-text" >Based on your Package Option, please make {!IF(NOT(ISNULL(numberOneOnOnes)),numberOneOnOnes,5)} One-on-One meeting requests and rank a minimum of {!IF(NOT(ISNULL(numberBoardRooms)), numberBoardRooms, 10 *currentPartRecord.Boardrooms__c )} desired Boardroom participants.</span>
                                </apex:variable>
                                  <br/>
                                  <apex:outputText escape="false" styleClass="info-text" value="{!IF(NOT(ISNULL(currentEvent.Part_2_Instructions_for_Suppliers__c)),currentEvent.Part_2_Instructions_for_Suppliers__c,'')}" rendered="{!permissions.isSupplier}"/>
                                  <apex:outputText escape="false" styleClass="info-text" value="{!IF(NOT(ISNULL(currentEvent.Part_2_Instructions_for_Executives__c)),currentEvent.Part_2_Instructions_for_Executives__c,'')}" rendered="{!NOT(permissions.isSupplier)}"/>
                                <div class="panel-body">
                                  <div class="row">
                                    <div class="form-horizontal">
                                      <apex:outputPanel layout="block" styleClass="col-md-12 more-margin" id="meetingRequestSection"> 
                                      <apex:variable value="SelectionsWrapper" var="selectionsWrapper" rendered="{!NOT(ISNULL(selectedMeetingRequests) ) && selectedMeetingRequests.size > 0}">
                                      <span class="title-font"> My Selections </span>
                                       </apex:variable>
                                      
                                        <!-- USE ACTION REGION TO AVOID CONCLUSIONS WITH APEX:INPUTFILE -->
                                        <apex:actionRegion >
                                          <!-- SUPPLIERS -->
                                          <apex:outputPanel layout="none" rendered="{!permissions.isSupplier}">
                                            <apex:outputPanel layout="block" rendered="{!selectedMeetingRequests.size > 0}">
                                              <table class='table table-bordered table-hover table-striped table-responsive table-font table-sortable'>
                                                <thead class="inner-thead">
                                                  <tr>
                                                    <td class="profile-width-sup">Profile</td>
                                                    <td class="company-width-sup">Company</td>
                                                    <apex:variable var="supplierRankingHeaderWrapper" value="supplierRankingHeaderWrapper" rendered="{!permissions.isSupplier}">
                                                      <td class="name-width-sup">Name</td>
                                                      <td>Title</td>
                                                      <td>Boardroom</td>
                                                    </apex:variable>
                                                    <td class="input-width-sup">One-on-One<apex:outputPanel rendered="{!permissions.isSupplier && (numberOneOnOnes >= 0 && NOT(permissions.isReadOnly || permissions.part2IsReadOnly))}"> (Max: {!numberOneOnOnes})</apex:outputPanel></td>
                                                    <apex:outputPanel layout="none" rendered="{!NOT(permissions.isReadOnly || permissions.part2IsReadOnly)}">
                                                      <td>&nbsp;</td>
                                                    </apex:outputPanel>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <!--<apex:variable value="{!1}" var="rowCount" /> -->
                                                  <apex:repeat value="{!selectedMeetingRequests}" var="mrd">
                                                    <tr>
                                                      <td style="text-align:center;">
                                                        <a  href="{!$Site.Prefix}/profilePage?eId={!eventId}&prId={!mrd.profile.partRecord.Id}&currentprId={!currentPartRecord}" target="_blank">

                                                          <span class="cpmg-icon icon_building_pink" aria-hidden="true"></span> 
                                                        </a> 

                                                      </td>
                                                      <td>
                                                        
                                                        <apex:outputText value="{!mrd.profile.compName}" rendered="{!ISBLANK(mrd.profile.compWebsite)}" title="{!mrd.profile.compName}"/>
                                                        
                                                        <apex:variable var="compWebWrapper"  value="compWebWrapper" rendered="{!If(NOT(ISBLANK(mrd.profile.compWebsite)),true,false)}">
                                                          <a target="_blank" name="Website" title="{!mrd.profile.compName}" href="{!mrd.profile.compWebsite}">{!mrd.profile.compName}</a>
                                                        </apex:variable>
                                                      </td>
                                                      <apex:variable var="supplierOnlyRankingValue" rendered="{!permissions.isSupplier}" value="supplierOnlyRankingValue" >
                                                        <td> <!-- SUPPLIER ONLY -->
                                                            <apex:outputText value="{!mrd.profile.partRecord.Primary_Contact__r.Name}"/>
                                                        </td>
                                                        <td> <!-- SUPPLIER ONLY -->
                                                            <apex:outputText value="{!mrd.profile.partRecord.Primary_Contact__r.Title}"/>
                                                        </td>

                                                        <td style="text-align:center;"> <!-- SUPPLIER ONLY -->
                                                            <apex:inputCheckbox disabled="{!permissions.isReadOnly || permissions.part2IsReadOnly}" value="{!mrd.hasBoardRoom}" id="broomCheckbox">
                                                              <apex:actionSupport event="onclick"
                                                                action="{!updateMeetingRequestSelectionOnChange}" status="loading" rerender="meetingRequestSection"
                                                                oncomplete="validateSelections();" /> <!-- status="loading" onchange="validateSelections()"-->
                                                           </apex:inputCheckbox>
                                                        </td>
                                                      </apex:variable>

                                                      <td> <!-- BOTH -->     
                                                          <apex:inputCheckbox id="oneOnOneCheckbox" styleClass="left-checkbox"  disabled="{! permissions.isReadOnly || permissions.part2IsReadOnly || (NOT(mrd.hasOneOnOne) && selectedOneOnOne - numberOneOnOnes >= 0)}" value="{!mrd.hasOneOnOne}" >
                                                            <apex:actionSupport event="onclick"
                                                              action="{!updateMeetingRequestSelectionOnChange}" status="loading" rerender="meetingRequestSection"
                                                              oncomplete="validateSelections();"/>  <!-- onchange="validateSelections();" status="loading"  -->
                                                         </apex:inputCheckbox>

                                                         <apex:outputPanel layout="none" rendered="{! NOT(permissions.isReadOnly || permissions.part2IsReadOnly) && mrd.hasOneOnOne}">
                                                          
                                                          <apex:inputField id="oneOnOneReason" styleClass="narrow-input" value="{!mrd.meetingRequest.Comment__c}" html-maxlength="100" html-placeholder="Reason for Meeting"/>
                                                        </apex:outputPanel>

                                                        <apex:outputPanel layout="none" rendered="{! (permissions.isReadOnly || permissions.part2IsReadOnly)}">
                                                          <textarea  disabled="true" class="form-control">{!mrd.meetingRequest.Comment__c}</textarea>
                                                        </apex:outputPanel>  
                                                      </td>

                                                      <apex:outputPanel layout="none" rendered="{!permissions.isSupplier && (NOT(permissions.isReadOnly || permissions.part2IsReadOnly ))}">

                                                      
                                                        <td style="text-align:center;">
                                                          
                                                          <input type="text" name="RankingDisplay" id="theTextInput" size="3" readonly="true" value="{!mrd.meetingRequest.Rank__c}" disabled="true"  class="readOnly" />
                                                          <apex:inputHidden value="{!mrd.meetingRequest.Rank__c}" id="rank"> 

                                                          </apex:inputHidden>
                                                          <span class="cpmg-icon icon_hamburger_gray" aria-hidden="true"></span>
                                                        </td>
                                                      
                                                      </apex:outputPanel>

                                                    </tr>
                                                        <!--<apex:variable value="{!rowCount+1}" var="rowCount" /> -->
                                                  </apex:repeat>
                                                  <tr>
                                                    <td colspan="4">
                                                      <span><h5> Selections made</h5></span>
                                                    </td>
                                                    <apex:variable var="supplierBoardRoomCount" value="supplierBoardRoomCount" rendered="{!permissions.isSupplier}">
                                                    <td style="text-align:center;">
                                                        <apex:outputText value="{!selectedBoardroom}" /> 
                                                    </td>
                                                  </apex:variable>
                                                    <td style="text-align:center;">
                                                      <apex:outputText rendered="{!numberOneOnOnes >= 0}" value="{!selectedOneOnOne}/{!numberOneOnOnes}" />
                                                      <apex:outputText rendered="{!numberOneOnOnes < 0}" value="{!selectedOneOnOne}" /> 
                                                    </td>
                                                    
                                                    <apex:outputPanel layout="none" rendered="{! NOT(permissions.isReadOnly || permissions.part2IsReadOnly)}">
                                                    <td>
                                                      &nbsp;
                                                    </td>
                                                    </apex:outputPanel>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </apex:outputPanel>

                                           <apex:outputPanel layout="block" rendered="{!selectedMeetingRequests.size > 0 && NOT(permissions.isReadOnly || permissions.part2IsReadOnly) }">
                                            <div class = "top-extra">
                                                  <span class="red-font" id="supplierSelectionMessage">You have not made the minimum number of selections necessary.</span>
                                                  <span class="regular-font hideRow" id="supplierSelectionPassedMessage">You have made the minimum number of selections. Please save your selections.</span>
                                           
                                              <apex:commandButton rendered="{! NOT(permissions.isReadOnly || permissions.part2IsReadOnly)}" action="{!submitMeetingRequests}" id="oneOnOneSubmitButton" value="Save Selections" styleClass="btn btn-re" status="loading" reRender="meeting-requests-section" disabled="{!(numberOneOnOnes > selectedOneOnOne)||(numberBoardrooms > selectedBoardroom)}">
                                             </apex:commandButton>
                                            </div>
                                          </apex:outputPanel>
                                            <div class="top-header">
                                            <div class="search-helper"> 
                                              <form>
                                                <div class ="form-group">
                                                  <label for="registrationFilter"></label>

                                                    <apex:selectList value="{!categoryFilter}" multiselect="false" size="1" styleClass="form-control" id="registrationFilter" onchange="filterTable();" title="Select a Category" html-placeholder="Filter By Category" >
                                                                 <apex:selectOptions value="{!categorySelectOptions}" html-placeholder="Filter By Category"/>
                                                    </apex:selectList>
                                                </div>
                                              </form>
                                            
                                            
                                            </div>
                                            <div class="print-helper">
                                                <a href="#" class="pdfButton" onclick="CallPrint();">
                                                  <img src="{!URLFOR($Resource.CPMG_Icons,'cpmg-icons/printicon.jpg')}" />
                                                  <span>Print Category Selections</span>
                                                </a>
                                                <a class="pdfButton" href="{!$Site.Prefix}/profilePage?eId={!eventId}&currentprId={!currentPartRecord}" target="_blank">
                                                  <img src="{!URLFOR($Resource.CPMG_Icons,'cpmg-icons/directory_icon_black.jpg')}" />
                                                  <span>View All Profiles</span>
                                                </a>
                                            </div>              
                                            </div>


                                            <table class='table table-bordered table-hover table-striped table-responsive' id="supplierAvailable">
                                              <thead class="inner-thead">
                                                  <tr>
                                                    <td class="profile-width-sup">Profile</td> <!-- BOTH-->
                                                    <td class="company-width-sup">Company</td> <!-- BOTH -->
                                                   
                                                      <td class="name-width-sup">Name</td>       <!-- Supplier Specific -->
                                                      <td>Title</td>                             <!-- Supplier Specific -->
                                                    <apex:variable var="supplierReadOnlyHeader" value="supplierReadOnlyHeader" rendered="{!permissions.isSupplier && NOT(permissions.isReadOnly || permissions.part2IsReadOnly)}"> 
                                                        <td>Boardroom</td>                         <!-- Supplier Specific -->
                                                    
                                                        <td>One-on-One</td>                        <!-- BOTH -->
                                                    </apex:variable>

                                                    
                                                  </tr>
                                              </thead>
                                              <tbody id="availableRequest">
                                                <apex:repeat value="{!availableMeetingRequests}" var="mrd" >
                                                  <tr>
                                                    <td style="text-align:center;">   <!-- BOTH -->
                                                      <input type="hidden" name="category" value="{!mrd.profile.selectedCategories.Answer__c}" id="chosenCategory" />
                                                      <input type="hidden" name="companyName" value="{!mrd.profile.compName}" id="companyName" />

                                                        <a href="{!$Site.Prefix}/profilePage?eId={!eventId}&prId={!mrd.profile.partRecord.Id}&currentprId={!currentPartRecord}" target="_blank">

                                                        <span class="cpmg-icon icon_building_pink" aria-hidden="true"></span>

                                                       </a>
                                                    </td>
                                                    <td>   <!-- BOTH -->
                                                      
                                                        <apex:outputText rendered="{!ISBLANK(mrd.profile.compWebsite)}" value="{!mrd.profile.compName}" title="{!mrd.profile.compName}" />
                                                      
                                                      <apex:variable var="compWebWrapper"  value="compWebWrapper" rendered="{!If(NOT(ISBLANK(mrd.profile.compWebsite)),true,false)}">
                                                        <a target="_blank" name="Website" title="{!mrd.profile.compName}" href="{!mrd.profile.compWebsite}">{!mrd.profile.compName}</a>
                                                      </apex:variable>
                                                    </td>
                                                    
                                                      <td> <!-- SUPPLIER ONLY -->
                                                          <apex:outputText value="{!mrd.profile.partRecord.Primary_Contact__r.Name}"/>
                                                      </td>
                                                      <td> <!-- Supplier ONLY -->
                                                          <apex:outputText value="{!mrd.profile.partRecord.Primary_Contact__r.Title}"/>
                                                      </td>
                                                      <apex:variable var="supplierReadOnlyData" value="supplierReadOnlyData" rendered="{!permissions.isSupplier && NOT(permissions.isReadOnly || permissions.part2IsReadOnly)}">
                                                      <td style="text-align:center;"> <!-- Supplier ONLY -->
                                                          <apex:inputCheckbox value="{!mrd.hasBoardRoom}">
                                                            <apex:actionSupport event="onclick"
                                                              action="{!updateMeetingRequestSelectionOnChange}" status="loading" rerender="meetingRequestSection"
                                                               oncomplete="validateSelections();" /> <!-- status="loading" -->
                                                          </apex:inputCheckbox>
                                                      </td>
                                                   

                                                    <td style="text-align:center;"> <!-- BOTH -->
                                                        <apex:inputCheckbox value="{!mrd.hasOneOnOne}" disabled="{!((selectedOneOnOne - numberOneOnOnes) >= 0)}">
                                                          <apex:actionSupport event="onclick"
                                                            action="{!updateMeetingRequestSelectionOnChange}" status="loading" rerender="meetingRequestSection"
                                                             oncomplete="validateSelections();" /> <!-- status="loading" -->
                                                        </apex:inputCheckbox>
                                                    </td>
                                                     </apex:variable>
                                                    
                                                  </tr>
                                                </apex:repeat>
                                              </tbody>
                                            </table>
                                        </apex:outputPanel>

                                          <!-- EXECUTIVES -->
                                          <apex:outputPanel layout="none" rendered="{!permissions.isExecutive}">
                                            <apex:outputPanel layout="block" rendered="{!selectedMeetingRequests.size > 0}">
                                              <table class='table table-bordered table-hover table-striped table-responsive table-sortable table-font'>
                                                  <thead class="inner-thead">
                                                      <tr>
                                                        <td class="profile-width-exec">Profile</td>
                                                        <td class="company-width-exec">Company</td>
                                                        <td>Description</td>
                                                        <td>One-on-One</td>
                                                        <apex:outputPanel layout="none" rendered="{! NOT(permissions.isReadOnly || permissions.part2IsReadOnly)}">
                                                        </apex:outputPanel>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                    <apex:repeat value="{!selectedMeetingRequests}" var="mrd">
                                                      <tr>
                                                        <td style="text-align:center;">
                                                            <a href="{!$Site.Prefix}/profilePage?eId={!eventId}&prId={!mrd.profile.partRecord.Id}&currentprId={!currentPartRecord}" target="_blank">
                                                        
                                                            <span class="cpmg-icon icon_building_pink" aria-hidden="true"></span>
                                                          
                                                            </a>

                                                        </td>
                                                        <td>
                                                         <apex:outputText rendered="{!ISBLANK(mrd.profile.compWebsite)}" value="{!mrd.profile.compName}" title="{!mrd.profile.compName}" />
                                                      
                                                          <apex:variable var="compWebWrapper"  value="compWebWrapper" rendered="{!If(NOT(ISBLANK(mrd.profile.compWebsite)),true,false)}">
                                                              <a target="_blank" name="Website" title="{!mrd.profile.compName}" href="{!mrd.profile.compWebsite}">{!mrd.profile.compName}</a>
                                                          </apex:variable>
                                                        </td>
                                                        <td>
                                                            <apex:outputText value="{!mrd.profile.shortDescription.Answer__c}"/>
                                                        </td>
                                                        <td>
                                                            <apex:inputCheckbox styleClass="left-checkbox" disabled="{! permissions.isReadOnly || permissions.part2IsReadOnly}" value="{!mrd.hasOneOnOne}">
                                                              <apex:actionSupport status="loading" event="onclick"
                                                                action="{!updateMeetingRequestSelectionOnChange}" rerender="meetingRequestSection"
                                                                 />                
                                                            </apex:inputCheckbox>
                                                            <apex:outputPanel layout="none" rendered="{!NOT(permissions.isReadOnly || permissions.part2IsReadOnly)}">

                                                            <apex:inputField styleClass="narrow-input" value="{!mrd.meetingRequest.Comment__c}" html-maxlength="100" html-placeholder="Reason for Meeting"/>
                                                              <apex:inputHidden value="{!mrd.meetingRequest.Rank__c}" id="rank" /> 
                                                               
                                                            </apex:outputPanel>
                                                            <apex:outputPanel layout="none" rendered="{!(permissions.isReadOnly || permissions.part2IsReadOnly)}">
                                                              <textarea class="form-control" disabled="true">{!mrd.meetingRequest.Comment__c}</textarea>
                                                            </apex:outputPanel>
                                                        </td>
                                                      </tr>
                                                    </apex:repeat>
                                                  </tbody>
                                              </table>
                                            </apex:outputPanel>

                                              <apex:outputPanel layout="block" rendered="{!selectedMeetingRequests.size > 0}">
                                              <div class = "top-extra">
                                              <span class="regular-font">Please make and save your selections.</span>
                                              <apex:commandButton rendered="{! NOT(permissions.isReadOnly || permissions.part2IsReadOnly)}" action="{!submitMeetingRequests}" id="oneOnOneSubmitButtonExec" value="Save Selections" styleClass="btn btn-re" status="loading" reRender="meeting-requests-section" >
                                              </apex:commandButton>
                                            </div>
                                          </apex:outputPanel>
                                            <div class="top-header">
                                            <div class="search-helper"> 
                                            
                                                <div class ="form-group">
                                                  <label for="registrationFilter"></label>
                                                  
                                                  <apex:selectList value="{!categoryFilter}" multiselect="false" size="1" styleClass="form-control" id="registrationFilterExec" onchange="filterTable();">
                                                                  <apex:selectOptions value="{!categorySelectOptions}"/>
                                                      
                                                    </apex:selectList>
                                                </div>
                            
                                            
                                            
                                            </div>
                                            <div class="print-helper">
                                                <a href="#" class="pdfButton" onclick="CallPrint();">
                                                  <img src="{!URLFOR($Resource.CPMG_Icons,'cpmg-icons/printicon.jpg')}" />
                                                  <span>Print Category Selections</span>
                                                </a>
                                                <a class="pdfButton" href="{!$Site.Prefix}/profilePage?eId={!eventId}&currentprId={!currentPartRecord}" target="_blank">
                                                  <img src="{!URLFOR($Resource.CPMG_Icons,'cpmg-icons/directory_icon_black.jpg')}" />
                                                  <span>View All Profiles</span>
                                                </a>
                                            </div>              
                                            </div>

                                              <table class='table table-bordered table-hover table-striped table-responsive' id="executiveAvailable">
                                                  <thead class="inner-thead">
                                                      <tr>
                                                        <td class="profile-width-exec">Profile</td>
                                                        <td class="company-width-exec">Company</td>
                                                        <td>Description</td>
                                                        <apex:variable var="execReadOnlyHeader" value="execReadOnlyHeader" rendered="{!permissions.isExecutive && NOT(permissions.isReadOnly || permissions.part2IsReadOnly)}"> 
                                                            <td>One-on-One</td>
                                                        </apex:variable>
                                                      </tr>
                                                  </thead>
                                                  <tbody id="availableRequest">
                                                    
                                                    <apex:repeat value="{!availableMeetingRequests}" var="mrd" id="availableRequests">
                                                   
                                                        
                                                          <tr>
                                                           
                                                            <td style="text-align:center;">
                                                              <input type="hidden" name="category" value="{!mrd.profile.selectedCategories.Answer__c}" id="chosenCategory" />
                                                                <a href="{!$Site.Prefix}/profilePage?eId={!eventId}&prId={!mrd.profile.partRecord.Id}&currentprId={!currentPartRecord}" target="_blank">
                                                                <input type="hidden" name="companyName" value="{!mrd.profile.compName}" id="companyName" />
                                                              
                                                              
                                                        
                                                                            <span class="cpmg-icon icon_building_pink" aria-hidden="true"></span>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <apex:outputText rendered="{!ISBLANK(mrd.profile.compWebsite)}" value="{!mrd.profile.compName}" title="{!mrd.profile.compName}" />
                                                      
                                                                <apex:variable var="compWebWrapper"  value="compWebWrapper" rendered="{!If(NOT(ISBLANK(mrd.profile.compWebsite)),true,false)}">
                                                                    <a target="_blank" name="Website" title="{!mrd.profile.compName}" href="{!mrd.profile.compWebsite}">{!mrd.profile.compName}</a>
                                                                </apex:variable>
                                                            </td>
                                                            <td>
                                                                <apex:outputText value="{!mrd.profile.shortDescription.Answer__c}"/>
                                                            </td>
                                                             <apex:variable var="execReadOnlyData" value="execReadOnlyData" rendered="{!permissions.isExecutive && NOT(permissions.isReadOnly || permissions.part2IsReadOnly)}"> 
                                                            <td>
                                                                <apex:inputCheckbox value="{!mrd.hasOneOnOne}">
                                                                  <apex:actionSupport event="onclick"
                                                                    action="{!updateMeetingRequestSelectionOnChange}" status="loading" rerender="meetingRequestSection"
                                                                     /> 
                                                               </apex:inputCheckbox>
                                                            </td>
                                                            </apex:variable>
                                                      
                                                        </tr>
                                                        
                                                       
                                                      </apex:repeat>
                                                    
                                                  </tbody>
                                              </table>
                                          </apex:outputPanel> 
                                          <apex:outputPanel layout="none" >
                                          
                                            <script type="text/javascript">



                                                function filterTable(){

                                                  sortTable();

                                                  var userType = "{!permissions.isSupplier}";
                                                  if(userType === 'true'){
                                                    var filt = document.getElementById('{!$Component.MeetingRequests.registrationFilter}').value;
                                                  } else {
                                                    var filt = document.getElementById('{!$Component.MeetingRequests.registrationFilterExec}').value;
                                                  }


                                                  $( "#availableRequest" ).children().children().find("#chosenCategory").each( function( index, element ){

                                                      if(filt === 'All'){
                                                         $(this.parentNode.parentNode).removeClass('hideRow');
                                                      } else if($(this).val().toLowerCase().includes(filt.toLowerCase())){

                                                        $(this.parentNode.parentNode).removeClass('hideRow');
                                                      } else {

                                                        $(this.parentNode.parentNode).addClass('hideRow');
                                                      }

                                                  });

                                                  setRowBackgroundColor();
                                                }

                                                function setRowBackgroundColor(){
                                                  var count = 0;
                                                  $("#availableRequest").children().not(".hideRow").each(function(index,element){
                                                        $(this).removeClass("even-row");
                                                        $(this).removeClass("odd-row");

                                                      if(count % 2 == 0){
                                                        $(this).addClass("even-row");

                                                    } else{
                                                        $(this).addClass("odd-row");
                                                    }
                                                    count++;

                                                  });
                                                }

                                                function sortTable(){
                                                    var userType = "{!permissions.isSupplier}";
                                                    if(userType === 'true'){
                                                      var rows =  $('#supplierAvailable tbody  tr').get();
                                                    } else {

                                                      var rows = $('#executiveAvailable tbody  tr').get();
                                                    }

                                                      rows.sort(function(a, b) {

                                                      var A = $(a).children('td').eq(1).text().toUpperCase();
                                                      var B = $(b).children('td').eq(1).text().toUpperCase();

                                                      if(A < B) {
                                                        return -1;
                                                      }

                                                      if(A > B) {
                                                        return 1;
                                                      }

                                                      return 0;

                                                      });

                                                      $.each(rows, function(index, row) {
                                                         if(userType === 'true'){
                                                            $('#supplierAvailable').children('tbody').append(row);
                                                          } else{
                                                            $('#executiveAvailable').children('tbody').append(row);
                                                          }
                                                      });
                                                }

                                               $("table.table-sortable tbody").sortable({
                                                  axis: 'y',
                                                  containment: "parent",
                                                  handle: ".icon_hamburger_gray",
                                                  helper: function(e, ui) {
                                                    ui.children().each(function() {

                                                      $(this).width($(this).width());
                                                    });

                                                    return ui;

                                                  },
                                                  update: function( event, ui ) {

                                                    var numberDisplay = 1;

                                                    $(this).find('tr').each(function(index, tr) {

                                                      var boardRoomChecked = $(tr).find('input[id *= "broomCheckbox"]').is(':checked');
                                                      var outputField = $(tr).find('#theTextInput');
                                                      var rankField = $(tr).find("input[id$='rank']");

                                                      if (boardRoomChecked) {
                                                        outputField.val(numberDisplay);
                                                        rankField.val(numberDisplay);
                                                        numberDisplay++;
                                                      } else {
                                                        outputField.val("");
                                                        rankField.val(null);
                                                      }

                                                    });
                                                  }
                                                }).disableSelection();

                                                function CallPrint() {
                                                  var userType = "{!permissions.isSupplier}";
                                                  if(userType === 'true'){
                                                    var filt = document.getElementById('{!$Component.MeetingRequests.registrationFilter}').value;
                                                    var divToPrint =document.getElementById("supplierAvailable");
                                                  } else {
                                                    var filt = document.getElementById('{!$Component.MeetingRequests.registrationFilterExec}').value;
                                                    var divToPrint =document.getElementById("executiveAvailable");
                                                  }
                                                  sortTable();

                                                  var printWindow = window.open('', '', 'height=400,width=800');

                                                  printWindow.document.write('<html><head><title>'+filt+' Participants </title>');

                                                  printWindow.document.write('<link href="{!$Resource.RequestSelectionPrint}" rel="stylesheet" type="text/css" />');
                                                  printWindow.document.write('</head><body>');
                                                  printWindow.document.write('<span class="title-font">' + filt+' Participants </span><br/>');
                                                  printWindow.document.write(divToPrint.outerHTML);
                                                  printWindow.document.write('</body></html>');
                                                  setTimeout(function() {
                                                      printWindow.document.close();
                                                      printWindow.print();
                                                  }, 250);

                                                }
                                                function validateSelections(){

                                                  var userType = "{!permissions.isSupplier}";
                                                  var readOnly =  "{!NOT(permissions.isReadOnly || permissions.part2IsReadOnly)}";
                                                    if(userType === 'true' && readOnly === 'true') {
                                                      var minOneOnOnes = "{!numberOneOnOnes}";
                                                      var minBrooms = "{!numberBoardrooms}";
                                                      var uType = "{!permissions.isSupplier}";
                                                      var selectBrooms = "{!selectedBoardroom}";
                                                      var selectOneOnOnes = "{!selectedOneOnOne}";

                                                      var supplierButton = document.getElementById('{!$Component.MeetingRequests.oneOnOneSubmitButton}');

                                                      supplierButton.disabled = true;

                                                        var testVar = ((uType === "true") && (parseInt(selectOneOnOnes,10) == parseInt(minOneOnOnes,10)) && (parseInt(selectBrooms,10) >= parseInt(minBrooms,10)));
                                                      if(testVar)
                                                      {

                                                        $("#supplierSelectionMessage").addClass('hideRow');
                                                        $("#supplierSelectionPassedMessage").removeClass('hideRow');
                                                        supplierButton.disabled = false;
                                                      }
                                                    }
                                                    filterTable();



                                                }
                                                $( document ).ready( filterTable );
                                                $( document ).ready( validateSelections );
                                                $( document ).ready( sortTable);

                                            </script> 
                                          </apex:outputPanel> 
                                        </apex:actionRegion>
                                      </apex:outputPanel>
                                    
                                   
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </apex:pageBlock>
                        </apex:outputPanel>

                     
</apex:component>