<apex:component id="TwitterFeed" >
 	<apex:attribute name="TwitterName" type="String" description="The Twitter User Name"/>
	<a class="twitter-timeline" href="https://twitter.com/{!TwitterName}" screeName="{!TwitterName}" data-chrome="transparent">Tweets </a>
    <script>
		!function(d,s,id) { var js,
			fjs=d.getElementsByTagName(s)[0],
			p=/^http:/.test(d.location)?'http':'https';

			if ( !d.getElementById(id) ) { 
				js=d.createElement(s);
				js.id=id;
				js.src=p+"://platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js,fjs);
			}
		}(document,"script","twitter-wjs");
	</script> 
</apex:component>