<apex:page standardController="contact" extensions="CampaignPageCall">
    <apex:form >
        <apex:outputPanel id="redirectPanel" >
            <apex:outputText rendered="{!shouldRedirect}">
                <script>
                    function isLightningExperienceOrSalesforce1() {
                        return((typeof sforce != 'undefined') && sforce && (!!sforce.one));
                    }
                    
                    if(isLightningExperienceOrSalesforce1() ) {
                        var x = screen.width/2 - 1200/2;
                        var y = screen.height/2 - 500/2;
                        var z = screen.height/2 - 1200/2;
                       window.open('{!redirectUrl}','_blank','height=485,width=1200,left='+x+',top='+y+',right='+z);
                    }
                    else {
                        window.open('{!redirectUrl}','_top');
                    }
                   
                </script>
            </apex:outputText>
        </apex:outputPanel>
    </apex:form>
</apex:page>