<apex:page showHeader="false" controller="ExceptionController" cache="false" standardStylesheets="false" action="{!redirect}">
 <apex:composition template="ConnectingPointTemplate">
   <apex:define name="title">
       <title>Error</title>
   </apex:define>
     <apex:define name="headerlogo">
       <!-- <c:CommunitiesHeader /> -->
         <c:EventsHeader />
   </apex:define>
   <apex:define name="body">
     <center>
       <apex:panelGrid bgcolor="white" columns="1" style="align: center;">
         <br/>
         <br/>
         <apex:panelGrid width="758" cellpadding="0" cellspacing="0" bgcolor="white" columns="1" styleClass="topPanelContainer">
           <br/>
           <apex:form >
             <apex:actionPoller action="{!redirect}" interval="10"/>
           </apex:form>

           <apex:outputPanel layout="block" styleClass="topPanel">
             <apex:panelGrid width="758" cellpadding="0" cellspacing="0" bgcolor="white" columns="3">
            <!--   <apex:image url="{!URLFOR($Resource.SiteSamples, 'img/clock.png')}"/> -->
              
              <!-- <apex:image url="{!URLFOR($Resource.SiteSamples, 'img/warning.png')}"/>
               <apex:panelGroup >
                 <apex:outputText styleClass="title" value="{!$Label.site.error}">
                   <apex:param value="{!$Site.ErrorMessage}"/>-->
                  <!-- this parameter needs to be italic in the site.error label -->
                <!-- </apex:outputText>
                 <br/>
                 <apex:outputText styleClass="title" value="You will be redirected in 10 seconds…">-->
                  <!-- this parameter needs to be italic in the site.error label -->
                <!-- </apex:outputText>
                 <br/>
                 <br/>
                 <apex:outputText escape="false" value=" {!$Label.site.get_in_touch}">
                  <apex:param value="mailto:{!$Site.AdminEmailAddress}"/>
                  <apex:param value="{!$Label.site.email_us}"/> 
                 </apex:outputText> 
               </apex:panelGroup>-->
             </apex:panelGrid>
            </apex:outputPanel>
         <!--  <c:SitePoweredBy /> -->
         </apex:panelGrid>
         <br/>
         <apex:messages />
         <br/>
       </apex:panelGrid>
     </center>
   </apex:define>
 </apex:composition>
</apex:page>