<!-- THIS PAGE HAS COMPLETELLY SAME MARKUP AS REGISTRATION PAGE EXCEPT CODE BLOCKS WITH ISREADONLY STATEMENT, PAGE TITLE, JAVASCRIPT BLOCKS DISABLED, ALL SECTIONS EXPANDED; JUST EDIT CONTROLLER AND OTHER PARTS OF THIS PAGE AND MOVE TO SUMMARY -->
<apex:page controller="EventRegistration2Controller" applyHtmlTag="false" showHeader="false" standardStylesheets="false" cache="false" docType="html-5.0" renderAs="pdf" applyBodyTag="false">
    <head>
        <style>
            body { font-family: 'Arial Unicode MS'; }

            .panel-title {font-weight: bold;}

        </style>
    </head>
    <apex:define name="title">
       <apex:outputPanel layout="none">
        <title>Event Confirmation</title>
      </apex:outputPanel>
    </apex:define>

    <body>

      <h2>{!currentEvent.Name}</h2>
        <div class="container-fluid">
          <div class="col-md-12">
          <!--  <div class="row">
              <div class="page-header">
                <apex:outputPanel layout="block" styleClass="row" rendered="{!permissions.eventStaff != NULL}">
                  <div class="col-md-12" >
                    <div class="alert alert-info" role="alert" Id="eventStaff" > -->
                      If you have any questions please contact &nbsp;<strong><apex:outputLink value="mailto:{!permissions.eventStaff.staffEmail}" styleClass="btn-link">{!permissions.eventStaff.staffEmail}</apex:outputLink></strong>
           <!--         </div>
                  </div>
                </apex:outputPanel>
                <apex:outputPanel layout="none" rendered="{!(permissions.isReadOnly)}">

                  <apex:outputPanel layout="none" rendered="{!currentContactEventOrder.Status != 'Draft'}">
                    <h2>Event Registration Summary</h2>
                  </apex:outputPanel>
                </apex:outputPanel>
              </div>
           
            </div> -->

            
              <div id="accordion-part-1">
                <div class="row">
                  <div class="panel panel-default">

                   <!-- <div class="panel-heading part"> -->
                      <h3 class="panel-title part">
                        <span data-toggle="collapse" data-parent="#accordion-part-1" href="#section-part-1" aria-expanded="{!IF(anchorPart == 'p1', 'true', 'false')}" aria-controls="section-part-1">Registration Part 1</span>

                      </h3>

                    <!-- <a  data-toggle="collapse" data-parent="#accordion-part-1" href="#section-part-1" aria-expanded="{!IF(anchorPart == 'p1', 'true', 'false')}" aria-controls="section-part-1"></a>
                    </div> -->

                    <div id="section-part-1" class="collapse panel-collapse {!IF(anchorPart == 'p1', 'in', '')}">
                   
                     <apex:outputPanel layout="none" rendered="{!permissions.isExecutive && currentEvent.Part_1_Instructions_for_Executives__c != NULL}">
                          <apex:outputText styleClass="info-text" label="Executive Instruction" title="Instructions" value="{!currentEvent.Part_1_Instructions_for_Executives__c}"/>
                      </apex:outputPanel>
                      <apex:outputPanel layout="none" rendered="{!permissions.isSupplier && currentEvent.Part_1_Instructions_for_Suppliers__c != NULL}">
                          <apex:outputText styleClass="info-text" label="Executive Instruction" title="Instructions" value="{!currentEvent.Part_1_Instructions_for_Suppliers__c}"/>
                      </apex:outputPanel>


                      <div class="panel-body part-1">
                        <!-- rendered="{!permissions.eventStaff != NULL}" -->

                        <!-- personal profile section -->
                        <apex:outputPanel id="personal-profile-section" layout="block" styleClass="row" rendered="{!isAttending}"> <!--rendered="{!currentContactEventOrder.Is_Attending__c}"-->
                          


                          <div class="panel panel-default">
                            <!--<div class="panel-heading"> -->
                              <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion-part-1" href="#section-personal-profile" aria-expanded="false" aria-controls="section-personal-profile"><span ></span>Personal Profile</h3>
                              <a data-toggle="collapse" data-parent="#accordion-part-1" href="#section-personal-profile" aria-expanded="{!subAnchorPart == 'personal-profile'}" aria-controls="section-personal-profile">
                              </a>
                           <!-- </div> -->
                         <!--   <div id="section-personal-profile" class="collapse panel-collapse">
                              <div class="panel-body">
                                <div class="row"> -->
                                  <div class="form-horizontal">

                                  <!--  <div class="col-md-12"> -->
                                      <!-- USE ACTION REGION TO AVOID CONCLUSIONS WITH APEX:INPUTFILE -->
                                        <apex:repeat value="{!SelfContactUserSpecifiedFields}" var="f">
                                          <div class="form-group">
                                          <apex:outputPanel layout="none" >
                                            <apex:outputLabel for="{!f.fieldPath}" styleClass="col-sm-3 control-label"><b>{!contactUserSpecifiedFieldNames[f.fieldPath].Field_Display_Name__c}: </b> &nbsp;  </apex:outputLabel>
                                               <apex:outputText styleclass="form-control" value="{!currentContact[f]}" />
                                            </apex:outputPanel>
                                            <div class="col-sm-9">

                                            </div>
                                          </div>
                                        </apex:repeat>

                                        <apex:repeat value="{!SelfOrderUserSpecifiedFields}" var="f">
                                          <div class="form-group">
                                            <apex:outputLabel for="{!f.fieldPath}" styleClass="col-sm-3 control-label"><b>{!orderUserSpecifiedFieldNames[f.fieldPath].Field_Display_Name__c}: &nbsp;</b></apex:outputLabel>
                                              <apex:outputText styleclass="form-control" value="{!currentContactEventOrder[f]}" />

                                          </div>
                                        </apex:repeat>

                                        <!-- Personal Image Output Component -->
                                        <apex:variable var="personalExecQuestionWrapper" value="personalExecQuestionWrapper" rendered="{!permissions.isExecutive}">
                                          <div id="personalExecQuestion" class="questionsPart1">
                                              <c:emailQuestionPDFDisplay comp_Permissions="{!permissions}" comp_contactId="{!currentContact.Id}" comp_eventId="{!currentEvent.Id}" comp_currentContact="{!currentContact}"  comp_currentEvent="{!currentEvent}" comp_currentContactRecordType="{!currentContactRecordType}" comp_readOnly="{!permissions.isReadOnly}" comp_phase="Personal" comp_name="Personal Executive Questions" comp_parentForm="{!this}" comp_Confirmation="{!currentContactEventOrder}"/>
                                    
                                          </div>
                                        </apex:variable>

                                <!--    </div> -->
                                  </div>
                           <!--     </div>
                              </div>
                            </div> -->
                          </div>
                        </apex:outputPanel>
                        <!-- Insert a Page Break for the PDF Document -->
                        <div style="page-break-after:always;"></div>
                        <!-- company profile section -->
                        <apex:outputPanel id="company-information-section">                          

                                  <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion-part-1" href="#section-company-information" aria-expanded="false" aria-controls="section-company-information"><span class="cpmg-icon icon_building_white"></span>
                                    Corporate Profile</h3>


                                      <div class="form-horizontal">
                                          <!-- USE ACTION REGION TO AVOID CONCLUSIONS WITH APEX:INPUTFILE -->
                                          <!-- This action region is more specific because the image component is what breaks it -->

                                            <!-- This is controlled in the user specified fields field set on account -->
                                            <apex:repeat value="{!AccountUserSpecifiedFields}" var="f">
                                              <div class="form-group">
                                                <apex:outputLabel for="{!f.fieldPath}" styleClass="col-sm-3 control-label"><b>{!accountUserSpecifiedFieldNames[f.fieldPath].Field_Display_Name__c}: &nbsp;</b></apex:outputLabel>
                                                  <apex:outputText value="{!currentAccount[f]}" />
                                                <div class="col-sm-9">

                                                </div>
                                              </div>
                                            </apex:repeat>
                                            <apex:variable var="supplierProfileQuestionWrapper" value="supplierProfileQuestionWrapper" >
                                              <div id="supplierProfileQuestion" class="questionsPart1">
                                                <c:emailQuestionPDFDisplay comp_Permissions="{!permissions}" comp_contactId="{!currentContact.Id}" comp_eventId="{!currentEvent.Id}" comp_currentContact="{!currentContact}"  comp_currentEvent="{!currentEvent}" comp_currentContactRecordType="{!currentContactRecordType}" comp_readOnly="{!permissions.isReadOnly}" comp_phase="Company" comp_name="Company Profile Questions" comp_parentForm="{!this}" comp_Confirmation="{!currentContactEventOrder}"/>

                                              </div>
                                            </apex:variable>

                                      </div>

                        </apex:outputPanel>
                         
                <!-- CATEGORY QUESTIONS , Areas of Interest for Executive, Category of Produc / Services Being Offered for suppliers-->
                        <apex:outputPanel layout="block" styleClass="row" id="questionsSectionCategories" > <!-- rendered="{!permissions.isSupplier}"-->
                        <div style="page-break-after:always;"></div>
                                <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion-part-1" href="#section-questions-part-Category" aria-expanded="false" aria-controls="section-questions-part-1"><span class="cpmg-icon icon_folder_white"></span>{!IF(permissions.isSupplier,'Category of Product/Service Being Offered','Areas of Interest')}</h3>
                                  <c:emailQuestionPDFDisplay comp_Permissions="{!permissions}" comp_contactId="{!currentContact.Id}" comp_eventId="{!currentEvent.Id}" comp_currentContact="{!currentContact}"  comp_currentEvent="{!currentEvent}" comp_currentContactRecordType="{!currentContactRecordType}" comp_readOnly="{!permissions.isReadOnly}" comp_phase="Category" comp_name="{!IF(permissions.isSupplier,'Category of Product/Service Being Offered','Areas of Interest')}" comp_parentForm="{!this}" comp_Confirmation="{!currentContactEventOrder}"/>
                        </apex:outputPanel>

                         
              

                   <!--     <apex:outputPanel layout="block" styleClass="row" id="questionsSection1"> -->
                <!--        <div style="page-break-after:always;"></div> -->
                          <!-- USE ACTION REGION TO AVOID CONCLUSIONS WITH APEX:INPUTFILE -->

             <!--                   <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion-part-1" href="#section-questions-part-1" aria-expanded="false" aria-controls="section-questions-part-1"><span class="cpmg-icon icon_book_white"></span>Directory Questions</h3>

                                  <c:emailQuestionPDFDisplay comp_Permissions="{!permissions}" comp_contactId="{!currentContact.Id}" comp_eventId="{!currentEvent.Id}" comp_currentContact="{!currentContact}"  comp_currentEvent="{!currentEvent}" comp_currentContactRecordType="{!currentContactRecordType}" comp_readOnly="{!permissions.isReadOnly}" comp_phase="General" comp_Name="Directory Questions" comp_Confirmation="{!currentContactEventOrder}" comp_parentForm="{!this}" />


                        </apex:outputPanel> -->

                        

                <!--        <apex:outputPanel layout="block" styleClass="row" id="optionalActivities1" rendered="{!permissions.isExecutive}">
                            <div style="page-break-after:always;"></div>
                            <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion-part-1" href="#section-questions-Activities" aria-expanded="false" aria-controls="section-questions-part-1"><span class="cpmg-icon icon_activity_white"></span>Optional Activities</h3>
                            <c:emailQuestionPDFDisplay comp_Permissions="{!permissions}" comp_contactId="{!currentContact.Id}" comp_eventId="{!currentEvent.Id}" comp_currentContact="{!currentContact}"  comp_currentEvent="{!currentEvent}" comp_currentContactRecordType="{!currentContactRecordType}" comp_readOnly="{!permissions.isReadOnly}" comp_phase="Activity" comp_Name="Directory Questions" comp_Confirmation="{!currentContactEventOrder}" comp_parentForm="{!this}" />
                        </apex:outputPanel>    -->         

                         

                        <!-- registrants section -->
                        <apex:outputPanel layout="block" styleClass="row" rendered="{!permissions.isSupplier}">
                        <div style="page-break-after:always;"></div>
                         
                         
                              <h3 class="panel-title" data-toggle="collapse" data-parent="#accordion-part-2" href="#section-registrants" aria-expanded="false" aria-controls="section-registrants"><span class="cpmg-icon icon_attendees_white"></span>Attendee Information (Registration Limit: {! IF(currentEventAccountDetails.Badge_Total__c == NULL, 'UNLIMITED', currentEventAccountDetails.Badge_Total__c)})</h3>
     
                                  <apex:outputPanel layout="block" styleClass="col-md-12" id="registrantsSection">
                                    <apex:outputPanel layout="block" rendered="{!accountRegistrants.size > 0}">
                                      <table class='table table-bordered table-hover table-striped table-responsive'>
                                        <thead class="table-head">
                                            <tr>
                                              <!--<td style="width: 90px;">&nbsp;</td>-->
                                              <td style="width: 40%;">Contact Name</td>
                                              <td style="width: 40%;">Contact Title</td>
                                              <td style="width: 20%;">Contact Email</td>
                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            <apex:repeat value="{!accountRegistrants}" var="reg">
                                              <apex:outputPanel layout="none"> <!-- rendered="{!NOT(reg.isDeleted)}" -->
                                                <tr>
                                                  <!--<td>
                                                    <apex:outputPanel layout="none" rendered="{!NOT(permissions.isReadOnly  || permissions.part1IsReadOnly )}">
                                                      <apex:outputPanel layout="block" styleClass="btn-group" rendered="{!permissions.canManageContacts}">
                                                          
                                                        <div class="modal fade" id="modal{!reg.order.BillToContactId}" role="dialog">
                                                          <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                              <div class="modal-header">
                                                               <h4 class="modal-title">Confirmation</h4>
                                                              </div>

                                                            </div>
                                                          </div>
                                                        </div>
                                                      </apex:outputPanel>
                                                    </apex:outputPanel>
                                                  </td>-->
                                                  <td>
                                                   <!-- <apex:outputField value="{!reg.order.BillToContact.Name}"/> -->
                                                   <apex:outputText value="{!reg.order.BillToContact.Name}"/>
                                                  </td>
                                                  <td>
                                                    <apex:outputText value="{!reg.order.BillToContact.Title}" />
                                                    <!-- <apex:outputField value="{!reg.order.BillToContact.Title}"/> -->
                                                  </td>
                                                  <td>
                                                   <!--<apex:outputField value="{!reg.order.BillToContact.Email}"/> -->
                                                   <apex:outputText value="{!reg.order.BillToContact.Email}"/>
                                                  </td>
                                                </tr>
                                              </apex:outputPanel>
                                            </apex:repeat>
                                        </tbody>
                                      </table>
                                    </apex:outputPanel>
                                      

                                    </apex:outputPanel>

                         <hr />
                        </apex:outputPanel>
                       <!--  <div style="page-break-after:always;"></div> -->

                      </div>
                    </div>
                  </div>
                </div>
               </div>

              

            
          </div>
        </div>

      
      </body>
    <!--</apex:define>-->
 <!-- </apex:composition> -->
</apex:page>