.popup-content.THIS {
    width: 331px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 9px;
    padding: 19px;
    background: #f2f2f2;
    left: 507px;
    top: 115px;
    visibility: visible;
    border-color: #bce8f1;
    margin-top: 41px;
}
.THIS .DivClass{
    float: left;
    padding-left: 69px;
    padding-right: 10px
}